@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

* {
  font-family: "Josefin Sans", sans-serif;
}

.menu__title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.card__title {
  font-size: 2rem;
  letter-spacing: 1.1;
}
.card__price {
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 1.5;
}
.card__info {
  font-size: 1.1rem;
}

table {
  font-size: min(4vw, 1.3rem);
}
table caption {
  font-size: 1.3rem;
}
table tfoot td {
  font-size: 1.5rem;
  font-style: italic;
  font-weight: bold;
}
table tfoot td button {
  font-size: inherit;
}
table tfoot td span {
  font-weight: normal;
}

.button--outline--brown {
  letter-spacing: 1.1;
  text-transform: uppercase;
}

.button--messenger {
  font-size: 2rem;
}

.button--nav {
  font-size: 2rem;
}

@keyframes bubble-down {
  from {
    transform: scale(1);
    transform-origin: bottom right;
    visibility: visible;
  }
  to {
    transform: scale(0);
    transform-origin: bottom right;
    visibility: hidden;
  }
}
@keyframes bubble-up {
  from {
    transform: scale(0);
    transform-origin: bottom right;
    visibility: hidden;
  }
  to {
    transform: scale(1);
    transform-origin: bottom right;
    visibility: visible;
  }
}
.header {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background: #f7f8ed;
  width: 100%;
  transition: all 0.2s ease-out;
  z-index: 1;
}
.header .header__nav {
  position: relative;
}
.header [aria-label="Coffee Logo"] {
  width: min(5rem, 10vw);
  display: none;
  transform: scale(1.6);
}
@media screen and (min-width: 769px) {
  .header [aria-label="Coffee Logo"] {
    display: inline-block;
  }
}
.header .cart-container {
  font-size: 2rem;
  position: relative;
}
.header .cart-container::before {
  content: attr(data-added);
  position: absolute;
  bottom: -1.5rem;
  left: -1rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2c1811;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header.dark {
  background-color: #2b2628;
}
.header.dark .cart-container {
  color: white;
}
.header.dark .cart-container::before {
  background-color: white;
  color: #2b2628;
}
.header.dark .logo {
  filter: invert(100%);
}
.header.dark .button--nav {
  color: white;
}

.menu {
  padding: 1em;
  margin-inline: auto;
  max-width: 1400px;
  margin-top: 7em;
}
.menu__title {
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
}
.menu__title::before {
  content: "";
  position: absolute;
  bottom: 0.2rem;
  left: 49%;
  right: 49%;
  height: 0.1rem;
  background: #2c1811;
}
.menu__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 0.5em;
}
.menu__cards .card {
  margin-inline: auto;
}

body {
  background: #f7f8ed;
}

body.disable {
  position: relative;
}
body.disable::after {
  content: "";
  position: absolute;
  inset: 0;
  top: -10rem;
  background: rgba(0, 0, 0, 0.4);
}

table {
  z-index: 2;
}

.header {
  z-index: 1;
}

@media screen and (min-width: 1200px) {
  .card.hover {
    z-index: 0;
  }
}

@media screen and (max-width: 1199px) {
  .card.touch {
    z-index: 0;
  }
}

.card.added figure::before {
  z-index: 1;
}

.fixed-bottom-right {
  z-index: 1;
}

body.disable {
  overflow: hidden;
}
body.disable::after {
  z-index: 1;
}

.navigation {
  z-index: 0;
}

.card {
  isolation: isolate;
  max-width: 500px;
  color: #2c1811;
  padding: 0.5em;
  padding: 1em;
  border-radius: 0.5em;
}
.card figure {
  position: relative;
}
.card figure::after {
  content: "";
  position: absolute;
  left: 0.8rem;
  right: 80%;
  bottom: -0.3rem;
  height: 0.2rem;
  border-radius: 20px;
  background: #745034;
  opacity: 0.5;
}
.card figure img {
  width: 100%;
  border: 4px solid #745034;
  border-radius: 10px;
}
.card figure figcaption {
  display: flex;
  margin-block: 0.5rem;
}
.card .card__price {
  margin-left: auto;
}
.card .button {
  border: none;
  background: none;
  font-size: 2rem;
  margin-left: 0.5rem;
  opacity: 0;
}
.card .button--minus {
  display: none;
}
.card__info {
  opacity: 0;
}

.card,
.card img,
.card figcaption,
.card__title,
.card__price,
.card__info,
.card figure,
.card figure::before,
.card figure::after,
.card__button {
  transition: all cubic-bezier(0, 1, 0.5, 1) 0.5s;
}

.card.hover {
  position: relative;
}
@media screen and (min-width: 1200px) {
  .card.hover {
    transform: scale(1.1);
    background: #2c1811;
    color: white;
  }
  .card.hover figure::before {
    transform: translate(-1.25rem, -3rem);
  }
  .card.hover figure::after {
    background-color: white;
    transform: translateY(-1rem);
    right: 0.5rem;
  }
  .card.hover figure img {
    transform: scale(1.1) translateY(-2rem);
  }
  .card.hover figure figcaption {
    transform: translateY(-1rem);
  }
  .card.hover .card__title {
    font-size: 3rem;
  }
  .card.hover .card__price {
    font-size: 3rem;
  }
  .card.hover .card__info {
    opacity: 1;
    line-height: 1.1;
  }
  .card.hover .button {
    color: inherit;
    opacity: 1;
  }
}

@media screen and (max-width: 1199px) {
  .card.touch {
    background: #2c1811;
    color: white;
  }
  .card.touch figure img {
    transform: scale(1.05) translateY(-0.5rem);
  }
  .card.touch figure::before {
    transform: translate(-0.5rem, -1rem);
  }
  .card.touch figure::after {
    right: 0.4rem;
    background: white;
  }
  .card.touch .card__info {
    opacity: 1;
    line-height: 1.1;
  }
  .card.touch .button {
    color: inherit;
    opacity: 1;
  }
}

.card.added figure {
  position: relative;
}
.card.added figure::before {
  content: "Đã thêm";
  position: absolute;
  left: 0.2em;
  top: 0.2em;
  color: white;
  padding: 1em;
  font-size: 1.3rem;
  background: #009df7;
  border-radius: 10px 0 0 0;
}
.card.added .button--minus {
  display: inline-block;
}
.card.added .button--plus {
  display: none;
}

@keyframes rotateAround {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(360deg);
  }
}
table {
  max-width: 800px;
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  margin: 1em;
  z-index: 2;
  visibility: hidden;
  transform: translateX(110%);
  transition: all 1s cubic-bezier(0, 1, 0.5, 1) 0.1s;
}
table caption {
  background-color: #2c1811;
  color: white;
  text-align: center;
  padding: 0.25em;
  position: relative;
}
table caption .button--close {
  position: absolute;
  top: 0.3em;
  right: 0.5em;
}
table thead,
table tbody {
  text-align: center;
}
table th {
  padding: 0.25em;
}
table td {
  vertical-align: middle;
}
table img {
  width: 50px;
}
table input {
  width: 50%;
  text-align: inherit;
  font-size: inherit;
  padding-block: 0.2em;
}
table tfoot {
  text-align: right;
}
table tfoot td {
  padding: 0.5em;
}

table.show {
  transform: translateX(0);
  visibility: visible;
}

table,
thead tr,
tbody tr {
  border: 1px solid black;
  border-collapse: collapse;
}

@keyframes slide-left {
  from {
    transform: translateX(100%);
    visibility: hidden;
  }
  to {
    transform: translateX(0);
    visibility: visible;
  }
}
.button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
  padding: 0.5em 1em;
}

.button--orange {
  background: #ff817a;
  color: white;
  border-radius: 0.5em;
}

.button--outline--brown {
  color: #2c1811;
  border: 2px solid currentColor;
  border-radius: 0.5em;
  padding-inline: 2em;
}

.button--close {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  right: 0.2rem;
  top: -0.5rem;
  padding: 0;
}

.button--messenger {
  border: 2px solid #2c1811;
  border-radius: 50%;
  padding: 0.2em;
  position: absolute;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button--send {
  padding: 0;
}

@media screen and (min-width: 769px) {
  .button--nav {
    display: none;
  }
}

.chatbox {
  width: 300px;
  height: 400px;
  /*  */
  border: 1px solid black;
  background-color: white;
  display: flex;
  flex-direction: column;
  transform-origin: bottom right;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transform: scale(0);
  visibility: hidden;
  /* TRANSITION */
}

.chatbox__header {
  padding: 0.5em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}
.chatbox__header .chatbox__name {
  text-transform: uppercase;
}
.chatbox__header .button--close {
  color: black;
  position: static;
  margin-left: auto;
}

.chatbox__body {
  flex: 3;
}

.chatbox__foot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid black;
}
.chatbox__foot .chatbox__input {
  border: none;
  outline: none;
  padding: 0.5em 0.75em;
}
.chatbox__foot i {
  margin: 0.5em 0.5em;
}

.fixed-bottom-right {
  position: fixed;
  bottom: 1em;
  right: 1em;
  pointer-events: none;
}
.fixed-bottom-right * {
  pointer-events: auto;
}

.abs-bottom-right {
  position: absolute;
  right: 3em;
  bottom: 3em;
}

.navigation {
  list-style: none;
  position: fixed;
  background-color: black;
  padding: 1em;
  z-index: 2;
  width: 100%;
  left: 0;
  text-align: center;
  transition: all 0.3s ease-out;
}
@media screen and (min-width: 1200px) {
  .navigation {
    display: none;
  }
}
.navigation .navigation__login {
  background-color: white;
  color: black;
}
.navigation .navigation__login:active {
  background-color: black;
  color: white;
}
.navigation a {
  display: block;
  text-decoration: none;
  font-size: 2rem;
  background-color: black;
  color: white;
  padding: 0.5em;
}
@media screen and (min-width: 1200px) {
  .navigation a:hover {
    background-color: white;
    color: black;
  }
}
.navigation a:active {
  background-color: white;
  color: black;
}

.nav-hide .navigation {
  top: 0;
  transform: translateY(-100%);
}

.nav-show .navigation {
  transform: translateY(0.8em);
}

.flex-row {
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.flex-bottom {
  align-self: flex-end;
}

.flex-shrink {
  flex-shrink: 1;
}

.flex-2 {
  flex: 2;
}

.show {
  transform: scale(1);
  visibility: visible;
}

.hide {
  transform: scale(0);
  visibility: hidden;
}

/*# sourceMappingURL=styles.css.map */
