@use './variables' as *;
@mixin flex($direction: row, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}

@mixin center {
	@include flex(row, center, center);
}
@mixin desktop-device {
	@media screen and (min-width: $breakpoint-desktop) {
		@content;
	}
}

@mixin tablet-device {
	@media screen and (min-width: $breakpoint-tablet) {
		@content;
	}
}

@mixin mobile-device {
	@media screen and (max-width: $breakpoint-desktop - 1) {
		@content;
	}
}
