// COLOR
$brown-100: hsl(65, 43%, 95%);
$brown-400: hsl(26, 38%, 33%);

$brown-800: hsl(16, 44%, 12%);

$blue-400: #009df7;

$orange-400: hsl(3, 100%, 74%);

// FONT
$font-primary: "Josefin Sans", sans-serif;

$light: 300;
$normal: 400;
$bold: 700;

// BREAKPOINT
$breakpoint-tablet: 769px;
$breakpoint-desktop: 1200px;

// TRANSFORM
$trans: cubic-bezier(0, 1, 0.5, 1);
