@use '../utils/variables';
body {
	background: variables.$brown-100;
}
body.disable {
	position: relative;

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		top: -10rem;
		background: rgba(0, 0, 0, 0.4);
	}
}
