@use '../utils/variables';
header{
//	position: fixed;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	background: variables.$brown-100 ;

	width: 100%;
	[aria-label="Coffee Logo"]{
		width: min(10rem, 20vw);
	}
	
	.cart-container{
		font-size: 2rem;
		position: relative;
		&::before{
			content: attr(data-added);
			position: absolute;
			bottom: -1.5rem;
			left: -1rem;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			background: variables.$brown-800;	
			color: white;


			display: flex;
			justify-content: center;
			align-items:center;
		}
	}
}
