@use '../utils/variables';
.menu {
	padding: 1em;
	margin-inline: auto;
	max-width: 1400px;

	margin-top: 7em;

	&__title {
		text-align: center;
		margin-bottom: 2rem;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			bottom: 0.2rem;
			left: 49%;
			right: 49%;
			height: 0.1rem;
			background: variables.$brown-800;
		}
	}
	&__cards {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		gap: 0.5em;
		.card {
			margin-inline: auto;
		}
	}
}
