@use '../utils/variables' as var;
.button {
	cursor: pointer;
	background: none;
	border: none;
	font-family: inherit;
	padding: 0.5em 1em;
}

.button--orange {
	background: var.$orange-400;
	color: white;
	border-radius: 0.5em;
}

.button--outline--brown {
	color: var.$brown-800;
	border: 2px solid currentColor;
	border-radius: 0.5em;
	padding-inline: 2em;
}

.button--close {
	color: white;
	font-size: 1.5rem;
	position: absolute;
	right: 0.2rem;
	top: -0.5rem;
}
