@use '../utils/variables' as *;
@use '../utils/mixins' as *;
@use '../base/typography' as *;
.button {
	cursor: pointer;
	background: none;
	border: none;
	font-family: inherit;
	padding: 0.5em 1em;
}

.button--orange {
	background: $orange-400;
	color: white;
	border-radius: 0.5em;
}

.button--outline--brown {
	color: $brown-800;
	border: 2px solid currentColor;
	border-radius: 0.5em;
	padding-inline: 2em;
}

.button--close {
	color: white;
	font-size: 1.5rem;
	position: absolute;
	right: 0.2rem;
	top: -0.5rem;
	padding: 0;
}

.button--messenger {
	border: 2px solid $brown-800;
	border-radius: 50%;
	padding: 0.2em;
	position: absolute;
	background-color: white;
	@include center;

	transition: all 0.25s $bounce;
}

.button--send {
	padding: 0;
}

.button--nav {
	@include tablet-device {
		display: none;
	}
}
