@use '../utils/variables' as *;
@use '../utils/mixins' as *;
$background: black;
$text: white;
.navigation {
	list-style: none;
	position: fixed;
	background-color: $background;
	padding: 1em;
	z-index: 2;
	width: 100%;

	left: 0;

	text-align: center;
	transition: all 0.3s ease-out;

	@include desktop-device {
		display: none;
	}

	#{&} &__login {
		$background: invert($background);
		$text: invert($text);
		background-color: $background;
		color: $text;
		&:active {
			background-color: invert($background);
			color: invert($text);
		}
	}
	a {
		display: block;
		text-decoration: none;
		font-size: 2rem;
		background-color: $background;
		color: $text;

		padding: 0.5em;

		@include desktop-device {
			&:hover {
				background-color: invert($background);
				color: invert($text);
			}
		}
		&:active {
			background-color: invert($background);
			color: invert($text);
		}
	}
}

.nav-hide .navigation {
	top: 0;
	transform: translateY(-100%);
}

.nav-show .navigation {
	transform: translateY(0.8em);
}
