@use '../utils/variables' as var;
table {
	max-width: 800px;
	background: white;
	caption {
		background-color: var.$brown-800;
		color: white;
		text-align: center;
		padding: 0.25em;
	}
	thead,
	tbody {
		text-align: center;
	}
	th {
		padding: 0.25em;
	}
	td {
		vertical-align: middle;
	}
	img {
		width: 50px;
	}

	input {
		width: 50%;
		text-align: inherit;
		font-size: inherit;
		padding-block: 0.2em;
	}

	tfoot {
		text-align: right;
	}

	tfoot td {
		padding: 0.5em;
	}

}

table,
thead tr,
tbody tr {
	border: 1px solid black;
	border-collapse: collapse;
}
